* {
    padding: none;
    margin: none;
}

body {
    height: 100vh;
    width: 98%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: antiquewhite;
}

#display {
    background-color:rgba(233, 178, 169, 0.877);
    width: 80%;
    height: 80%;
    border-radius: 20px;
    border: 3.5px dotted #cc9c89;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
}

.red {
    background-color: rgba(204, 33, 33, 0.705) !important;
    border: 7px dotted #e47246;
}