body {
    height: 100vh;
    width: 99%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 50px;
}

#dice {
    width: 200px;
    height: 200px;
    border-radius: 20px;
    border: 2px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
}

button {
    border-radius: 5px;
    border: 1px solid black;
    background-color: rgb(233, 198, 122);
    padding: 10px;
}

button:hover {
    cursor: pointer;
}

button:active {
    font-size: 12.5px;
}

img {
    height: 200px;
    width: 200px;
}

.six {
    background-image: "img-lib/6dice.png";
}